/* the section for all of the visible content on the page */
body {
    background-color: rgb(170,212,207);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5;
    color: black;
}

/* centers the content vertically on the page */
.wrapper {
    height: 1790px;
    top: -8px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(212,233,231);
    padding-top: 0px;
    position: relative;
}

/* header image */
#wide-starfish {
    width: 100%;
    padding-bottom: 15px;
}

/* the section of text at the top of the page */
.site-title {
    position: relative;
    top: -165px;
    text-align: center;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    line-height: 1.25;
    letter-spacing: 1px;
    font-weight: lighter;
}

/* navigation bar */
nav ul li {
    padding-left: 75px;
    padding-right: 50px;
    font-size: 1.75rem;
    color: black;
    text-align: center;
    display: inline;
    margin: 50px;
    border-right: 2px solid black;
    border-left: 2px solid black;
  }

  /* custom navigation bar links */
  a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

/* custom border sides in navigation */
nav ul li:nth-child(1) {
    border-left: none;
    padding: 0px 100px 0px 100px;
}

nav ul li:nth-child(2) {
    border-style: none;
    padding: 0px;
}

nav ul li:nth-child(3) {
    border-right: none;
    padding: 0px 50px 0px 100px;
}

/* text above small starfish image */
.sub-title {
    position: relative;
    display: inline;
    width: 100px;
    height: 100px;
    top: -10px;
    left: -330px;
    font-size: 2.5rem;
}
 
/* image with text wrapping around */
#small-starfish {
    width: 300px;
    height: 300px;
    padding: 30px;
    padding-left: 15px;
    padding-top: 60px;
    float: left;
}

/* paragraph wrapping around image */
p {
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 10px;
    font-size: 1rem;
    letter-spacing: 0px;
}

/* customized h3 font */
section h3 {
    font-size: 2rem;
    padding-left: 10px;
}

/* spacing on left of all h3 elements */
h3 {
    margin: 10px;
    padding-top: 10px;
}

/* removes default bullets from facts about starfish points */
section ul li {
    line-height: 1.25rem;
    padding-left: 15px;
    list-style-type: none;
    font-size: 1rem;
}

/* adds solid circle bullets to facts about starfish points */
section ul li::before {
    content: "•"; 
    color: black;
    padding-right: 10px; 
}

/* the section containing the large border, text boxes and buttons */
form {
    margin: 10px;
    padding: 10px;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

/* spacing between text boxes */
input, textarea {
    margin-bottom: 1.25rem;   
}


/* submit button when clicked */
button:link, a:visited {
    background-color: rgb(212,233,231);
    border: none;
    padding: 15px;
}

/* submit button in regular state */
button, a:active {
    background-color: rgb(212,233,231);
    border: none;
    padding: 15px;
}

/* spacing of labels above text boxes */
label {
    margin: 0px;
    padding: 10px;
}

/* sizing of first and second text boxes */
textarea {
    margin: 10px 10px;
    width: 925px;
}

/* sizing of third text box */
#message {
    height: 100px;
    width: 925px;
}

/* spacing underneath all h2 elements */
h2 {
    padding-bottom: 10px;
}

/* spacing on left of all h4 elements */
h4 {
    margin: 10px;
    padding-bottom: 10px;
}

/* spacing around submit button */
.submit-button {
    padding-bottom: 10px;
    padding-left: 10px;
    border: 2px solid black;
    margin-right: 865px;
    margin-left: 10px;
    padding: 2px;
}

/* sizing and positioning of footer text */
footer {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 20px;
    text-align: right;
    font-size: 1rem;
}

/* positioning of navigation bar */
nav ul {
    position: absolute;
    top: 340px;
}

/* spacing between raidio buttons and labels */
#yes {
    margin-right: -5px;
    margin-left: 0px;
}

#no {
    margin-right: -5px;
    margin-left: 0px;
}

#maybe {
    margin-right: -5px;
    margin-left: 0px;
}