/* general parameters for the entire document */
html {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0 auto;
    max-width: 1200px;
}

* {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
}

body {
    padding:0; 
    margin:0;
}

/* responsive containers; needs parent with size set */
.wide-wrapper {
    margin: 0 auto;
    width: 100%;
}

.responsive-images {
    width: 100%;
    height: auto;
}

.narrow-wrapper {
    max-width: 96%;
    margin: 0 auto;
    padding-top: 20px;
}

/* navigation bar parameters */
nav ul li {
    list-style-type: none;
    line-height: 100px;
  }

nav ul li a {
    display: block;
    position: relative;
    top: -100px;
    text-decoration: none;
    color:#c78c06;
}

a.home {
    width: 100%;
    color: #222;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -100px;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
}

/* banner of orange in navigation in mobile layout */
.orange-box {
    display: block;
    position: relative;
    height: 200px;
    width: 100%;
    top: -110px;
    background-color:#c78c06;
}

/* company logo beside the navigation bar */
#stars {
    display: flex;
    position: relative;
    top: 20px;
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-left: 0px;
    z-index: 1;
}

/* banner of dark in navigation */
.dark-banner {
    display: block;
    position: relative;
    box-sizing: border-box;
    background-color: #222;
    width: 100%;
    height: 700px;
    border: #222 20px solid;
}

/*search bar parameters */
.search-bar {
    display: inline;
    position: relative;
    align-content: center;
    width: 90%;
    height: 200px;
    top: -210px;
    padding: 10px;
}   

.search-bar input {
    display: inline;
    position: relative;
    align-content: center;
    width: 90%;
    height: 38px;
    font-size: 1.25rem;
    padding-left: 10px;
}   

form.search-button {
    align-content: center;
}

/* magnifying glass icon */
.fa-magnifying-glass {
    display: inline;
    position: absolute;
    color:#c78c06;
    padding: 7px;
    margin-left: 0px;
    border: 1px #c78c06 solid; 
    font-size: 1.75rem;
}

/* photo, grey box, content for "welcome" */
.welcome {
    display: block;
    position: relative;
    background-image: url("../images/main-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
    height: 620px;
    padding-top: 100px;
    padding-bottom: 20px;
    color: #fff;
}

/* background to "welcome" area */
.grey-box {
    position: absolute;
    background-color:rgba(14, 1, 0, .60);
    width: 100%;
    height: 560px;
}

/* base parameters for the headings and paragraphs */
h1 {
    font-size: 4.25rem;
    padding: 30px;
    padding-bottom: 0px;
    margin-top: 20px;
    line-height: 100px;
    max-height: 500px;
}

h2 {
    font-size: 3rem;
    padding-bottom: 20px;
    padding-top: 20px;
}

h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 30px;
}

h4 {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    border-bottom:#c78c06 solid 3px;
}

h5 {
    font-size: 1.2rem;
    padding-left: 10px;
    padding-top: 30px;
    margin-bottom: 10px;
    color:#c78c06;
}
h6 {
    font-size: 1.2rem;
    padding-left: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    color:#c78c06;
}

p {
    padding: 20px;
    margin: 0px;
    line-height: 30px;
}

/* parameters for "welcome" paragraph */
.white-text {
    color: #fff;
    position: relative;
    margin-bottom: 0px;
    padding-left: 20px;
}

/* button for "connect with us" */
.connect-with-us {
    display: flex;
    position: relative;
    text-align: center;
    width: 230px;
    color: #222;
    text-decoration: none;
    font-size: 1.5rem;
    left: 20px;
    margin-right: 500px;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #c78c06;
}

/* parameters for "connect with us" caret icon */
.fa-caret-right {
    display: flex;
    position: relative;
    padding-top: 5px;
    font-size: 2rem;
    color: #222;
    top: -72px;
    left: 240px;
}

/* parameters for "about us" area */
.about-us {
    display: block;
    position: relative;
    background-color:#ffe6ac;
}

h2.about {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    background-color:#ffe6ac;
}

/* parameters for "our services" area */
.wrapper-1, .wrapper-2, .wrapper-3, .wrapper-4, .wrapper-5 {
    background-color: #ffe6ac;
    width: 96%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

h2.services {
    margin-left: 20px;
    margin-top: 40px;
    
}

/* "our services" buttom parameters */
.our-services button {
    display: block;
    position: relative;
    justify-content: flex-start;
    background-color: #222;
    border: #222 1px solid;
    font-size: 1.5rem;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 70px;
    width: fit-content;
    left: -180px;
    margin-left: 200px;
}

/* "markteting" button positioning */
.big-button {
   margin-left: 190px;
}

/* removes the underline from links of "our services" buttons */
a:link {
    text-decoration: none;
}

/* positioning of "digital, marketing" caret icons */
#digital-caret {
    padding-left: 20px;
}

#marketing-caret {
    padding-left: 70px;
}

/* parameters for white caret icons */
.our-services .fa-caret-right {
    display: block;
    position: relative;
    top: -77px;
    left: 180px;
    font-size: 2rem;
    color: #fff;
}

/* "our vision" banner parameters */
.our-vision {
    display: block;
    position: relative;
    background-image: url("../images/vision.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 0px;
    margin-bottom: 30px;
    height: 300px;
}

/* "learn more" button parameters */
.learn-more {
    display: flex;
    position: relative;
    width: 200px;
    color: #FFF;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 10px;
    border: 1px solid #c78c06;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 20, 40, .50)
}

/* "learn more" caret parameters */
#learn-caret {
    display: flex;
    position: relative;
    padding-bottom: 30px;
    color: #fff;
    left: 190px;
    top: -65px;
}

/* "our team" area parameters */
.team {
    max-width: 96%;
    margin: 0 auto;
    padding-top: 20px;
    margin-left: 30px;
}

/* "our team" heading positioning */
.our-team {
    margin-top: 30px;
    margin-left: 20px;
}

/* positioning of "team names" */
.team-names {
    margin-top: -5px;
    padding-top: 10px;
    padding-left: 20px;
}

/* parameters for images of John and Bob */
.wrapper-6, .wrapper-8 {
    width: 96%;
    margin: 0 auto;
}

/* parameters for "team" info */
.wrapper-7, .wrapper-9 {
    margin: 0 auto;
    max-width: 96%;
    margin-left: 0px;
    background-color:#ffe6ac;
    margin-bottom: 20px;
}

/* positioing of "contact" headings */
.send-message h3 {
    padding-bottom: 20px;
    padding-top: 20px;
}

/* parameters for "location" area */
.location h3 {
    padding-left: 0px;
}

#map {
    width: 100%;
    height: 363px; 
}

/* positioning of "contact" form */
form {
    display: block;
    position: relative;
    margin-left: 0px;
}

/*positioning of text boxes */
input, textarea {
    margin-bottom: 1.25rem; 
    margin-left: 0px;  
}

/* sizing of first and second form text boxes */
textarea {
    width: 100%;
    margin-top: 5px;
}

/* sizing of third form text box */
#message {
    display: flex;
    height: 150px;
    max-width: 100%;
    align-content: flex-start;
}

/* "send" button parameters */
.submit-button {
    background-color: #222;
    color:#c78c06;
    font-size: 1.25rem;
    padding: 5px;
}

/* positining of "hours of op" area */
.hours-of-op {
    max-width: 92%;
    margin: 0 auto;
}

.hours-of-op h3 {
    padding-left: 0px;
}

/* parameters for "hours of op" chart */
table, td, th {
    border: #222 solid 1px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.days, .hours {
    background-color: #ffe6ac;
}

/* parameters for "footer" area */
footer {
    background-color: #222;
    width: 100%;
    border: #222 10px solid;
    margin-top: 20px;
}

/* underlines "Unsplash" in footer text */
span {
    text-decoration: underline;
}

/* progressive enhancement (mobile to desktop) */
@media screen and (min-width: 760px) {
  
    /* parameters for navigation area adjustments */
    .dark-banner {
        height: 200px;
    }

    .wide-wrapper {
        display: flex;
    }

    #stars {
        margin-left: 85px;
        margin-top: 10px;
    }
    
    .orange-box {
        display: none;
    }

    a.home {
        background-color:#c78c06;
        padding-left: 30px;
        left: -20px;
        line-height: 70px;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: start;
        position: absolute;
        left: 250px;
        top: 120px;
        margin-left: 0px;
    }

    li {
        padding: 20px;
        font-size: 1.25rem;
    }
   
    .search-bar {
        display: flex;
        justify-content: end;
        padding: 10px;
        left: -100px;
        top: 60px;
    }   
    
    .search-bar input {
        display: block;
        position: relative;
        width: 188px;
        height: 38px;
        font-size: 1.25rem;
        padding-left: 10px;
    }   
    
    .fa-magnifying-glass {
        top: 0px;
        left: 203px;
        color:#c78c06;
        padding: 7px;
        margin-left: 0px;
        border: 1px #c78c06 solid; 
        font-size: 1.75rem;
    }
    
    /* parameters for "welcome" area adjustments */
    div.grey-box {
        margin: 0 auto;
        width: 85%;
        margin-left: 100px;
  }

    h1 {
        font-size: 5rem;
        padding: 30px;
        padding-bottom: 0px;
        margin-top: 20px;
        line-height: 140px;
        max-height: 500px;
    }

    /* parameters for "about us" area adjustments */
    #ping-pong {
        float: left;
        width: 50%;
        height: auto;
        padding-bottom: 0px;
    }

    .about-us {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 100px;
    }

    h2.about {
        display: flex;
        align-content: flex-end;
        padding-top: 0px;
        padding-right: 100px;
        padding-bottom: 20px;
    }

    .about-us p {
        display: flex;
        align-content: flex-end;
        padding-top: 0px;
        padding-right: 100px;
        padding-bottom: 10px;
    }

    /* defines areas for grid for "our services" area */    
    .digital { grid-area: grid-1; }
    .marketing { grid-area: grid-2; }
    .video { grid-area: grid-3; }
    .web { grid-area: grid-4; }
    .print { grid-area: grid-5; }

    /* parameters and grid layout for "our services" area */
    .our-services {
        display: grid;
        position: relative;
        width: 100%; 
        margin: 0 auto;
        height: 1300px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "grid-1 grid-1 grid-1 grid-2 grid-2 grid-2"
        "grid-1 grid-1 grid-1 grid-2 grid-2 grid-2"
        "grid-3 grid-3 grid-4 grid-4 grid-5 grid-5"
        "grid-3 grid-3 grid-4 grid-4 grid-5 grid-5"
    }

    h2.services {
        padding-top: 10px;
        padding-left: 50px;
    }
    
    .our-services {
        height: 1400px;
        width: 90%;
    }

    .our-services .fa-caret-right {
        display: inline-block;
        position: relative;
        padding-left: 50px;
        top: -78px;
        font-size: 2rem;
        color: #fff;
    }
  
    .our-services button {
        display: inline-block;
        position: relative;
        justify-content: center;
        text-decoration: none;
        background-color: #222;
        font-size: 1.5rem;
        color: white;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 87%;
    }

    /* parameters for "our services" area */
    .wrapper-1, .wrapper-2, .wrapper-3, .wrapper-4, .wrapper-5 {
        background-color: #ffe6ac;
        width: 96%;
        max-height: 650px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    /* adjustments to "big button" caret icon positioning */
    #digital-caret, #marketing-caret {
        padding-left: 150px;
    }

    /* parameters for "our vision" area adjustments */
    .our-vision {
        padding-left: 80px;
        padding-right: 80px;
    }

    /* defines areas for grid for "our team" area */
    .wrapper-6 { grid-area: grid-6; }
    .wrapper-7 { grid-area: grid-7; }
    .wrapper-8 { grid-area: grid-8; }
    .wrapper-9 { grid-area: grid-9; }

    .team {
        width: 85%;
        margin: 0 auto;
    }

    h2.our-team {
        margin-left: 100px;
    }

    h3.team-names {
        padding-top: 30px;
    }

    /* parameters and grid layout for "our team" area */
     .team {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "grid-6 grid-6 grid-7 grid-7"
        "grid-6 grid-6 grid-7 grid-7"
        "grid-9 grid-9 grid-8 grid-8"
        "grid-9 grid-9 grid-8 grid-8"
    }

    .wrapper-6, .wrapper-7, .wrapper-8, .wrapper-9 {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
    }
  
    .wrapper-7, .wrapper-9 {
        padding-right: 25px;
    }
    
    /* parameters for "contact us" area adjustments */
    .contact-us {
        width: 50%;
    }

    .contact-info {
        max-width: 90%;
        margin: 0 auto;
    }

    /* parameters for "location" area adjustments */
    .location {
        display: flex;
        justify-content: center;
        position: relative;
        width: 65%;
        height: 500px;
        top: -680px;
        left: 400px;
    }
    
    .location h3 {
        position: relative;
        top: -70px;
        left: 125px;
    }

    #map {
        height: 450px;
        max-width: 70%;
    }

    /* parameters for "hours of op" area adjustments */
    div.hours-of-op {
        max-width: 85%;
        height: 250px;
        margin: 0 auto;
    }

    /* parameters for footer area adjustments */
    .footer-banner {
        display: block;
        position: relative;
        top: 600px;
    }

    footer {
        padding-left: 80px;
    }
}